<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="d-flex actions" style="margin: 1% auto">
  <%= button_to "Show", @user, :method => "get", class:"btn btn-outline-primary " %>
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-outline-primary", style:"margin: auto 15%"%>
</div>