<nav class="navbar navbar-light bg-light navbar-home">
    <%= link_to users_path, class:"text-info" do %>
        <span class="fa fa-home navbar-icon" aria-hidden="true"></span>
    <% end %>
</nav>

<h1 class="index-title">New User</h1>
<%= render 'form', user: @user %>

<div class="actions back-form">
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-success btn-sm back-new" %>
</div>