<h1 style = "text-align: center">New User</h1>

<%= render 'form', user: @user %>

<div class="actions" style="margin: 1% auto">
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-success btn-sm", style:"position: absolute; left: 525px; right: 200px" %>
</div>