<nav class="navbar navbar-light bg-light" style="padding:25px">
    <%= link_to users_path, class:"text-info" do %>
        <span class="fa fa-home" aria-hidden="true" style='font-size:40px; padding:2px; position: absolute; top: 3px; left: 50px; right: 200px'></span>
    <% end %>
</nav>


<h1 style = "text-align: center">Editing Social network</h1>

<%= render partial: 'social_networks/form'%>


<div class="d-flex actions" style="margin: 1% auto; position: absolute; left: 522px; right: 200px">
  <%= button_to "Show", user_social_network_path(@user,@social_network), :method => "get", class:"btn btn-info btn-sm" %>
  <%= button_to "Back", @user, :method => "get", class:"btn btn-warning btn-sm", style:"margin: auto 15%"%>
</div>