<h1>Editing Social network</h1>

<%= render partial: 'social_networks/form'%>


<div class="d-flex actions" style="margin: 1% auto">
  <%= button_to "Show", user_social_network_path(@user,@social_network), :method => "get", class:"btn btn-outline-primary " %>
  <%= button_to "Back", @user, :method => "get", class:"btn btn-outline-primary", style:"margin: auto 15%"%>
</div>