<nav class="navbar navbar-light bg-light navbar-home">
    <%= link_to users_path, class:"text-info" do %>
        <span class="fa fa-home navbar-icon" aria-hidden="true"></span>
    <% end %>
</nav>

<h1 class="index-title">New social network</h1>
<%= render 'form'%>

<div class="actions back-form">
  <%= button_to "Back", @user, :method => "get", class:"btn btn-success btn-sm back-new"%>
</div>