<h1>New Social network</h1>

<%= render partial: 'social_networks/form'%>

<div class="actions" style="margin: 1% auto">
  <%= button_to "Back", edit_user_path(@user), :method => "get", class:"btn btn-outline-primary"%>
</div>