.socialnetwork-add {
  margin: 1% auto;
}

.edit-back {
  margin: 0 auto; 
  position: absolute; 
  left: 442px; 
  right: 200px
}

.back {
  margin: auto 15%
}

.back-socialnetwork {
  position: absolute; 
  left: 483px; 
  right: 200px
}

.log-out-button {
  position: relative; 
  left: 1130px;
  top: 5px;
}

.submit-button {
  margin: 5% 34%;
}

.profile-navbar-button {
  position: relative; 
  left: 80px;
  padding:3px;
  top: 5px;
}

.sign-up-button {
  position: relative; 
  left: 80px;
  padding:3px;
  bottom: 1px;
}

.sign-in-button {
  position: relative; 
  padding:3px;
  left: 100px;
  bottom: 1px;
}
  
.submit-button-socialnetwork {
  margin: 5% 25%;
}

.edit-back-form {
  margin: 1% auto; 
  position: absolute; 
  left: 485px; 
  right: 200px
}

.back-form {
  margin: 1% auto; 
}

.back-new {
  position: absolute; 
  left: 485px; 
  right: 200px
}