.card-user {
  width:30rem; 
  padding:10px; 
  margin: 1% auto
}

.card-form {
  width:20rem; 
  padding:10px; 
  margin: 0% auto
}
  
.card-show-socialnetwork {
  width:25rem; 
  padding:10px; 
  margin: 1% auto
}