.card-form {
  width:25rem; 
  padding:10px; 
  margin: 0% auto
}

.field-name {
  width:300px; 
  font-size: 12px
}

.field-descrip {
  font-size: 12px; 
  height: 100px
}

.field-avatar {
  padding:5px;
}

.submit-button {
  margin: 5% 34%;
}

.edit-back-form {
  margin: 1% auto; 
  position: absolute; 
  left: 485px; 
  right: 200px
}

.back-form {
  margin: 1% auto; 
}

.back-new {
  position: absolute; 
  left: 485px; 
  right: 200px
}
