.user-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.user-icon-navbar {
    font-size:22px; 
    padding:1px; 
}

.edit-icon-navbar {
    position: relative; 
    font-size:22px; 
    padding:3px;
    left: 120px;
    top: 5px;
}

.edit-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.delete-icon {
    font-size:22px
}

.socialnetwork-icon {
    font-size:20px; 
    padding:2px; 
    margin: auto 2%
}

.navbar-icon {
    font-size:40px; 
    padding:2px; 
    position: absolute; 
    top: 5px; 
    left: 20px; 
    right: 200px
}