.user-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.edit-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.delete-icon {
    font-size:22px
}

.socialnetwork-icon {
    font-size:20px; 
    padding:2px; 
    margin: auto 2%
}

.navbar-icon {
    font-size:40px; 
    padding:2px; 
    position: absolute; 
    top: 3px; 
    left: 50px; 
    right: 200px
}