.index-title {
    text-align: center
}

.user-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.edit-icon {
    font-size:22px; 
    padding:1px; 
    margin: auto 2%
}

.delete-icon {
    font-size:22px
}